<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Add these line for detecting device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
  <nav class="navbar navbar-light bg-light p-3 d-flex justify-content-between">
    <%= link_to "Restaurants", restaurants_path %>
    <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary rounded-3 color-white" %>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
